/* Clase de los items de la lista */
.contenidos li {
    font-size: 14px;
    color: #A3C597;
} 

/* Propiedades y valores del body  */
body {
    background-color: #F0F6F1;
    font-family: 'Courier New', Courier, monospace;
}

/* Propiedades y valores de h1 */
h1 {font-weight: 900;
    font-size: 40px;
    color: #4D7A48;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Propiedades y valores de h2 */
h2 {font-weight: 600;
    font-size: 24px;
}

/* Propiedades y valores de ul */
ul {font-weight: 600;
    font-size: 18px;
}

/* Propiedades y valores de p */
p {font-weight: 200;
}